.avatar{
    object-fit: cover;
    width: 245px;
    height: 245px;
    box-shadow: 0 0 10px 0 rgba(255,255,255,.35);
    border-radius: 200px;
    z-index: 0;
    padding: 0rem;
    border: 4px solid var(--r-primary);
    border-radius: 200px;
}
.row{
    padding: 1rem;
}
.edit-container{
    padding: 1rem;
}
.row button{
    height: 2rem;
}

.listing-item .card-img-top {
    background-position:center;
    background-size: cover;
    height:200px;
    width:100%;
}
.listing-item {
    padding: 0;
}
#results-container>div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    width:100%;
}

#approved-container>div, #reservations-container>div, #cancellations-container>div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.comment {
    margin-top:2rem;
}
.comment>div {
    border-radius:1rem;
    background-color: var(--r-primary);
    color:#fff;
    padding:1rem;
}
.comment .comment-content {
    font-style: italic;
}
.comment.host-reply {
    margin: 0;
}
.comment.host-reply>div {
    margin-left: 100px;
    background-color: var(--r-secondary);
    margin-top: -1rem;
}
#comment-rating {
    background:var(--r-grad-pink);
    padding: 20px;
    margin: 20px 0;
    border-radius: 1rem;
}
#comment-rating p, #comment-rating h3 {
    color:#fff;
}

.profile-picture-large {
    --profile-picture-size: 4rem;
}
.profile-picture-small {
    --profile-picture-size: 3rem;
}
.profile-picture-container {
    display:inline-block;
    width: var(--profile-picture-size);
    vertical-align: top;
}
.profile-picture-container+div {
    width: calc(100% - var(--profile-picture-size) - 5px);
    display:inline-block;
    padding-left:10px
}

.profile-picture {
    border-radius:50%;
    height: var(--profile-picture-size);
    border:1px solid var(--r-gray);
}