/* Global Variables */
:root {
    /* Colours */
    --r-primary: #1282E9;
    --r-secondary: #12C2E9;
    --r-ternary: #B112E9;
    --r-warning: #E9BA12;
    --r-danger: #E9126C;
    --r-black: #444444;
    --r-white: #f8f8f8;
    --r-gray: #bbbbbb;

    --r-grad-full: linear-gradient(90deg, var(--r-secondary) 0%, var(--r-primary) 50%, var(--r-ternary) 100%);
    --r-grad-blue: linear-gradient(90deg, var(--r-secondary) 0%, var(--r-primary) 100%);
    --r-grad-pink: linear-gradient(90deg, var(--r-ternary) 0%, var(--r-danger) 100%);
    --r-grad-orange: linear-gradient(90deg, var(--r-danger) 0%, var(--r-warning) 100%);

    --footer-color: var(--r-white);

    /* Override bootstrap */
    --bs-font-sans-serif: "Open Sans", system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-body-color: var(--r-black);

    /* Other */
    --footer-height: 10rem;
}
/* Variables used to hide/show elements based on user we are testing (see more in common.js) */
.demo-user-state-1 .hide-if-state-1, .demo-user-state-2 .hide-if-state-2, .demo-user-state-3 .hide-if-state-3 {
    display:none;
}



/* Other variables to override bootstrap */
@media screen and (max-width: 991px) {
    .dropdown-menu {
        --bs-dropdown-border-width: 0;
    }
}
.card {
    --bs-card-border-radius: 1rem;
    --bs-card-inner-border-radius: calc(1rem - 1px);
}

/* Body starts off as invisible, then appears once all elements on the page are ready */
body {
    opacity:0;
}

/* Page container */
#page-container {
    position: relative;
    min-height: 100vh;
}

/* Navbar */
#navbar-logo {
    height: 4rem;
}
#navbar-main {
    flex-direction: row-reverse;
}
#navbar-main .notification-badge {
    top: 5px;
    left: 25px;
}

/* main */
main {
    padding-bottom: calc(var(--footer-height) + 3rem);
}
main>.container {
    margin-top:15px;
}

/* Footer */
footer {
    display: flex;
    align-items:center;
    height: var(--footer-height);
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:var(--footer-color);
}

/* Custom elements */
.gradient-main {
    height:10px;
    width:100%;
    background: var(--r-primary);
    background: var(--r-grad-full);
}
.gradient-blue {
    height:10px;
    width:100%;
    background: var(--r-primary);
    background: var(--r-grad-blue);
}
.gradient-pink {
    height:10px;
    width:100%;
    background: var(--r-ternary);
    background: var(--r-grad-pink);
}

.text-inline-divider {
    padding: 0 0.5rem;
}

/* Other Styling */
input, select, textarea, button {
    border-radius:1rem;
    border: 1px solid var(--r-gray);
    padding:0 0.5rem;
    margin:0.2rem;
}
textarea {
    resize: none;
    width:100%;
}
h1, h2, h3, h4, h5, h6 {
    line-height: var(--bs-body-line-height);
}
.button {
    /* Fallback color value */
    --r-color: var(--r-gray);
    --r-color-text: var(--r-black);
    border-radius: 1rem;
    padding: 0 2rem;
    border: none;
    background-color: var(--r-color);
    color: var(--r-white);
    box-sizing: border-box;
}
.button.neg {
    border: 1px solid var(--r-color);
    background-color: #fff;
    color: var(--r-color);
    color: var(--r-color-text);
}

.button.button-primary {
    --r-color: var(--r-primary);
    --r-color-text: var(--r-primary);
}
.button.button-secondary {
    --r-color: var(--r-secondary);
    --r-color-text: var(--r-secondary);
}
.button.button-ternary {
    --r-color: var(--r-ternary);
    --r-color-text: var(--r-prternaryimary);
}
.button.button-warning {
    --r-color: var(--r-warning);
    --r-color-text: var(--r-warning);
}
.button.button-danger {
    --r-color: var(--r-danger);
    --r-color-text: var(--r-danger);
}
.sticky-container {
    position:relative;
}
.full-table {
    width:100%;
}
.full-table td {
    padding: 0.25rem 0;
}
.edit-icon {
    font-size: 1.5rem;
    width:2.5rem;
    height:2.5rem;
    text-align: center;
    color: #fff;
    display:inline-block;
    border-radius: 50%;
    background: var(--r-grad-orange)
}
.edit-icon:hover {
    color: #fff;
}


